src/antlr/WACCLexer.java
src/antlr/WACCParser.java
src/antlr/WACCParserBaseVisitor.java
src/antlr/WACCParserVisitor.java
src/main/Compiler.java
src/main/CompileTimeError.java
src/symobjects/identifierobj/FunctionObj.java
src/symobjects/identifierobj/ParamObj.java
src/symobjects/identifierobj/typeobj/ArrayObj.java
src/symobjects/identifierobj/typeobj/PairObj.java
src/symobjects/identifierobj/typeobj/scalarobj/BoolObj.java
src/symobjects/identifierobj/typeobj/scalarobj/CharObj.java
src/symobjects/identifierobj/typeobj/scalarobj/IntObj.java
src/symobjects/identifierobj/typeobj/ScalarObj.java
src/symobjects/identifierobj/typeobj/TyplessPairObj.java
src/symobjects/identifierobj/TypeObj.java
src/symobjects/identifierobj/VariableObj.java
src/symobjects/IdentifierObj.java
src/symobjects/SymbolTable.java
src/visitor/Node.java
src/visitor/nodes/expr/ArrayElementNode.java
src/visitor/nodes/expr/BinOpNode.java
src/visitor/nodes/expr/literal/BoolNode.java
src/visitor/nodes/expr/literal/CharNode.java
src/visitor/nodes/expr/literal/IntNode.java
src/visitor/nodes/expr/literal/PairNode.java
src/visitor/nodes/expr/literal/StringNode.java
src/visitor/nodes/expr/LiteralNode.java
src/visitor/nodes/expr/operator/BinOp.java
src/visitor/nodes/expr/operator/UnOp.java
src/visitor/nodes/expr/ParenthesisNode.java
src/visitor/nodes/expr/UnaryOpNode.java
src/visitor/nodes/ExprNode.java
src/visitor/nodes/FunctionNode.java
src/visitor/nodes/ProgramNode.java
src/visitor/nodes/stat/AssignPairArrayNode.java
src/visitor/nodes/stat/AssignPrimitiveNode.java
src/visitor/nodes/stat/CompositionNode.java
src/visitor/nodes/stat/ExitNode.java
src/visitor/nodes/stat/FreeNode.java
src/visitor/nodes/stat/IfNode.java
src/visitor/nodes/stat/PrintlnNode.java
src/visitor/nodes/stat/PrintNode.java
src/visitor/nodes/stat/ReadNode.java
src/visitor/nodes/stat/ReturnNode.java
src/visitor/nodes/stat/ScopeBlockNode.java
src/visitor/nodes/stat/SkipNode.java
src/visitor/nodes/stat/WhileNode.java
src/visitor/nodes/StatNode.java
src/visitor/nodes/type/BaseTypeNode.java
src/visitor/nodes/type/PairElemTypeNode.java
src/visitor/nodes/type/TypeNode.java
src/visitor/nodes/util/AssignLhsNode.java
src/visitor/nodes/util/AssignRhsNode.java
src/visitor/nodes/util/PairElemNode.java
src/visitor/nodes/util/ParamNode.java
src/visitor/SemanticVisitor.java
